<div class="search-form mt-4">
    <form method="POST" action="">
  <div class="form-group">
    <label for="exampleInputEmail1">Nhap tu khoa tim kiem</label>
    <input type="text" name="textName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nhap Tu Khoa">
  </div>
    
  <button type="submit" class="btn btn-primary">Tim Kiem</button>
</form>
</div>